<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brand Collector</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko&display=swap" rel="stylesheet">
    <script defer src="https://kit.fontawesome.com/812ecae711.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="../assets/css/reset.css"/>
    <link rel="stylesheet" href="../assets/css/style.css"/>
  </head>
  <body>
    <nav id="nav"class="navbar navbar-light bg-info">
      <div class="container-fluid">
        <a class="navbar-brand fs-1">Brand Collector</a>
        <form class="d-flex justify-content-end">
          {{#if user}}
          <a href="/profile" class="btn btn-outline-primary fs-5" type="button">Profile</a>
          <button id="logout" class="btn btn-outline-primary fs-5" type="button">Logout</button>
          {{else}}
          <a href="/" class="btn btn-outline-primary fs-5" type="button">Login</a>
          {{/if}}
        </form>
      </div>
    </nav>
    {{{body}}}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="../assets/js/index.js"></script>
  </body>
</html>