<div>{{>navbar}}</div>
<section class="about">
    <h5 class="display-5 fs-1 text-center fw-bold m-1">Thanks for checking out Battle Brands!</h5>
    <div class="team-box">
        <div class="front-end container m-5 mx-auto border rounded w-50">
          <h3 class="card-title text-center w-fit mx-auto m-2">Front-End Developers</h3>
          <div class="d-flex justify-content-evenly w-50 mx-auto">
            <div class="card m-1">
                <div class="card-body">
                    <h4 class="card-title mb-3">Simran</h4>
                  <div class="fs-6 container mx-auto">
                      <a href="https://github.com/kaursim000" target="_blank">Github</a>
                  </div>
                </div>
            </div>
            <div class="card m-1">
                <div class="card-body">
                    <h4 class="card-title mb-3">Jack</h4>
                  <div class="fs-6 container mx-auto">
                      <a href="https://github.com/Atlas238" target="_blank">Github</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="back-end container m-5 mx-auto m-2 border rounded w-50">
          <h3 class="card-title text-center w-fit mx-auto m-2">Back-End Developers</h3>
          <div class="d-flex justify-content-evenly w-50 mx-auto">
            <div class="card m-1">
                <div class="card-body">
                <h4 class="card-title mb-3">Lucio</h4>
                  <div class="fs-6 container mx-auto">
                    <a href="https://github.com/davidlucio" target="_blank">Github</a>
                  </div>
                </div>
            </div>
            <div class="card m-1">
                <div class="card-body">
                <h4 class="card-title mb-3">Derek</h4>
                  <div class="fs-6 container mx-auto">
                    <a href="https://github.com/delizoderek" target="_blank">Github</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</section>