<h1 class="display-3 text-center mt-5 mb-5"> Welcome back {{user-name}}!</h1>

<h4 class="display-5">Your Creatures: </h4>
<div class="container">

    {{#each userCreatures}}
      {{> brand-card}}
    {{/each}}

</div>