<div>
    {{> navbar }}
</div>
<div class="container">
    <div class="display-5 text-center p-3">
        <h3>Link your Battle-Brands account to one of the following <br> Social Networks to unlock a new BB!</h3>
    </div>
</div>
<div class="container d-flex justify-content-center align-content-center p-1">
    <div id="linkBox" class="card text-center w-fit">
        <div class="button p-3 fs-1">
            <a id="fbBtn" href="/passport/auth/facebook">Link to Facebook</a>
        </div>
        <div class="button p-3 fs-1">
            <a id="twBtn" href="/passport/auth/twitter">Link to Twitter</a>
        </div>
        <div class="button p-3 fs-1">
            <a id="lkBtn" href="/passport/auth/linkedin">Link to LinkedIn</a>
        </div>
    </div>
</div>