<div>
  {{> navbar }}
</div>
<div class="container">
  <div class="display-5 text-center p-3">
    <h3>Link your Battle-Brands account to one of the following
      <br />
      Social Networks to unlock a new BB!</h3>
  </div>
</div>
<div class="d-flex justify-content-center"></div>
  {{#if connectedFacebook}}
    {{#if connectedLinkedin}}
    <div class="button m-2 p-3 fs-1 linkBox">
      <p>You've already linked your account!</p>
    </div>
    {{/if}}
  {{/if}}

  {{#unless connectedFacebook}}
    {{#unless connectedLinkedin}}
    <div class="button m-2 p-3 fs-1 linkBox">
        <a id="fbBtn" href="/passport/auth/facebook">Link to Facebook</a>
    </div>
    <div class="button m-2 p-3 fs-1 linkBox">
        <a id="lkBtn" href="/passport/auth/linkedin">Link to LinkedIn</a>
    </div>
    {{/unless}}
  {{/unless}}

  {{#if connectedFacebook}}
    <div class="button m-2 p-3 fs-1 linkBox">
        <a id="lkBtn" href="/passport/auth/linkedin">Link to LinkedIn</a>
    </div>
  {{/if}}
      
  {{#if connectedLinkedin}}
    <div class="button m-2 p-3 fs-1 linkBox">
        <a id="fbBtn" href="/passport/auth/facebook">Link to Facebook</a>
    </div>
  {{/if}}
</div>
<h3 class="mx-3 fs-3">Select a creature to add</h3>
<div
  id="creature-selector"
  class="d-flex flex-wrap justify-content-around p-2 vw-100 vh-75 overflow-scroll"
>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="1"
    data-brand="1"
  >
    <i id="icon" class="fab fa-solid fa-dragon fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Battle Brands</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="1"
    data-brand="2"
  >
    <i id="icon" class="fab fa-amazon fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Amazon</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="1"
    data-brand="3"
  >
    <i id="icon" class="fab fa-apple fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Apple</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="1"
    data-brand="4"
  >
    <i id="icon" class="fab fa-google fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Google</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="1"
    data-brand="5"
  >
    <i id="icon" class="fab fa-microsoft fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Microsoft</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="1"
    data-brand="6"
  >
    <i id="icon" class="fab fa-stripe fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Stripe</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="1"
    data-brand="7"
  >
    <i id="icon" class="fab fa-paypal fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">PayPal</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="2"
    data-brand="8"
  >
    <i id="icon" class="fab fa-internet-explorer fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Internet Explorer</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="2"
    data-brand="9"
  >
    <i id="icon" class="fab fa-firefox-browser fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Firefox</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="2"
    data-brand="10"
  >
    <i id="icon" class="fab fa-chrome fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Chrome</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="2"
    data-brand="11"
  >
    <i id="icon" class="fab fa-edge fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Edge</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="2"
    data-brand="12"
  >
    <i id="icon" class="fab fa-opera fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Opera</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="2"
    data-brand="13"
  >
    <i id="icon" class="fab fa-safari fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Safari</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="3"
    data-brand="14"
  >
    <i id="icon" class="fab fa-whatsapp fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">WhatsApp</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="3"
    data-brand="15"
  >
    <i id="icon" class="fab fa-telegram-plane fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Telegram</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="3"
    data-brand="16"
  >
    <i id="icon" class="fab fa-snapchat fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Snapchat</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="3"
    data-brand="17"
  >
    <i id="icon" class="fab fa-discord fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Discord</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="3"
    data-brand="18"
  >
    <i id="icon" class="fab fa-slack fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Slack</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="3"
    data-brand="19"
  >
    <i id="icon" class="fab fa-discourse fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Discourse</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="3"
    data-brand="20"
  >
    <i id="icon" class="fab fa-facebook-messenger fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Messenger</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="3"
    data-brand="21"
  >
    <i id="icon" class="fab fa-skype fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Skype</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="4"
    data-brand="22"
  >
    <i id="icon" class="fab fa-twitch fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Twitch</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="4"
    data-brand="23"
  >
    <i id="icon" class="fab fa-mixer fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Mixer</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="4"
    data-brand="24"
  >
    <i id="icon" class="fab fa-vimeo fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Vimeo</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="4"
    data-brand="25"
  >
    <i id="icon" class="fab fa-youtube fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Youtube</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="4"
    data-brand="26"
  >
    <i id="icon" class="fab fa-dailymotion fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Dailymotion</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="5"
    data-brand="27"
  >
    <i id="icon" class="fab fa-android fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Android</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="5"
    data-brand="28"
  >
    <i id="icon" class="fab fa-app-store-ios fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">IOS</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="5"
    data-brand="29"
  >
    <i id="icon" class="fab fa-ubuntu fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Ubuntu</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="5"
    data-brand="30"
  >
    <i id="icon" class="fab fa-windows fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Windows</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="5"
    data-brand="31"
  >
    <i id="icon" class="fab fa-blackberry fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Blackberry</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="6"
    data-brand="32"
  >
    <i id="icon" class="fab fa-instagram fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Instagram</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="6"
    data-brand="33"
  >
    <i id="icon" class="fab fa-pinterest fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Pinterest</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="6"
    data-brand="34"
  >
    <i id="icon" class="fab fa-flickr fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Flickr</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="6"
    data-brand="35"
  >
    <i id="icon" class="fab fa-vine fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Vine</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="6"
    data-brand="36"
  >
    <i id="icon" class="fab fa-tiktok fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">TikTok</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="7"
    data-brand="37"
  >
    <i id="icon" class="fab fa-blogger fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Blogger</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="7"
    data-brand="39"
  >
    <i id="icon" class="fab fa-google-plus fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Google+</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="7"
    data-brand="41"
  >
    <i id="icon" class="fab fa-reddit fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Reddit</h5>
  </div>
  <div
    class="col-2 m-2 p-2 d-flex flex-column justify-content-center align-items-center card"
    data-type="7"
    data-brand="42"
  >
    <i id="icon" class="fab fa-tumblr fa-8x" aria-hidden="true"></i>
    <h5 class="card-title mt-4">Tumblr</h5>
  </div>
</div>
<script src="../assets/js/createCreature.js"></script>