<<<<<<< HEAD
<h1>login/sign-up here</h1>
=======
<form id="signUp">
    <input type="text" name="username" id="signUpUsername" placeholder="username">
    <input type="email" name="email" id="signUpEmail" placeholder="email">
    <input type="text" name="password" id="signUpPassword" placeholder="password">
    <button>Sign Up!</button>
</form>

<form id="loginForm">
    <input type="text" name="loginEmail" id="loginEmail" placeholder="email">
    <input type="text" name="password" id="loginPassword" placeholder="password">
    <button>Login!</button>
</form>
{{name}}

<script src="./assets/js/index.js"></script>
>>>>>>> develop
