<div id="loginBox">

<form id="signUp">
    Username: <input type="text" name="username" id="signUpUsername">
    Email: <input type="email" name="email" id="signUpEmail">
    Password: <input type="text" name="password" id="signUpPassword">
    <button>Sign Up!</button>
</form>

<form id="loginForm">
    Email: <input type="text" name="loginEmail" id="loginEmail">
    Password: <input type="text" name="password" id="loginPassword">
    <button>Login!</button>
</form>
</div>

<script src="../assets/js/login.js"></script>
