<div>
        {{#if user}}
        {{>navbar}}
        {{/if}}
        {{#unless user}}
        <a href="/" class="btn btn-outline-primary fs-5" type="button">Login</a>
        {{/unless}}
        
</div>
<div class="d-flex vw-100 vh-100 justify-content-center align-items-center">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h1>Page Not Found</h1>
        <img
          src="https://media.giphy.com/media/FBJR5N5SaiLzLLnie2/giphy.gif"
          alt="Couldn't find the page you were looking for"
          width="70%"
        />
      </div>
    </div>
       
       

