@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');


:root {
    /* Numbered from lightest to darkest (1-9) */
    --c-1: #ECCAFF;
    --c-2: #E2C6FF;
    --c-3: #D8C2FF;
    --c-4: #CEBEFF;
    --c-5: #C4BAFF;
    --c-6: #B9B5FF;
    --c-7: #AFB1FF;
    --c-8: #A5ADFF;
    --c-9: #9BA9FF;

    /* Setting standard rem */
    font-size: 16px;
}

/* All Page Sizing */
html {
    height:100vh !important;
    width:100% !important;
    overflow-x: hidden;
    color: var(--c-primary);
    user-select: none;
    font-family: 'Teko', sans-serif !important;
}

/* Scrollbar Style */
::-webkit-scrollbar {
    scroll-behavior: smooth;
    width:10px;
    color: var(--c-secondary);
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    color: var(--c-primary);
}
::-webkit-scrollbar-thumb:hover {
    color: var(--c-primary-hover);
}


/* Custom Utility Classes */
.w-fit {
    width: fit-content;
}
/* Color classes */
.bg-color-1 {
    background-color: var(--c-1);
}
.bg-color-2 {
    background-color: var(--c-2);
}
.bg-color-3 {
    background-color: var(--c-3);
}
.bg-color-4 {
    background-color: var(--c-4);
}
.bg-color-5 {
    background-color: var(--c-5);
}
.bg-color-6 {
    background-color: var(--c-6);
}
.bg-color-7 {
    background-color: var(--c-7);
}
.bg-color-8 {
    background-color: var(--c-8);
}
.bg-color-9 {
    background-color: var(--c-9);
}

/* Creature at rest (default) */
.rest {
    position: relative;
    top:50%;
    left:50%;
    max-width:fit-content;
    animation: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: animation 500ms ease;
}
  
/* Creature happy! */
.creature-happy {
    animation: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: animation 500ms ease;
}
  
/* Creature Sad :( */
.creature-sad {
    animation: headShake;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transition: animation 500ms ease;
}
  
/* Creature Hungry */
    /* Icon animations... */
.creature-hungry {
    animation: rubberBand;
    animation-duration: 1.5s;
    animation-iteration-count:infinite;
    transition: animation 500ms ease;
}
    /* After animations... */
#icon-holder {
    visibility: hidden;
}
#icon-holder.creature-groomed::after {
    content: "\f005";
    position: absolute;
    visibility: visible;
    top:0;
    left: 60%;
    z-index:3 !important;
    display: block;
    width: 255px;
    height: 255px;
    animation: fadeIn;
    animation-direction: alternate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

    /* PAGES STYLING */
/* Main Layout Styling */
#card {
   max-width: fit-content; 
}

#icon {
    align-self: center;
}

/* login and signup info */
#signUp{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    justify-content: space-between;
    
}
#loginForm{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
}
input {
    width: 75%;
    height: 25px;
}
#signUp button {
    width: 75%;
    margin-top: 10px;
}
#loginForm button {
    width: 75%;
    margin-top: 10px;
}
#loginBox {
    display: flex;
    width: 75%;
    height: 400px;
    margin: auto;
    margin-top: 20px;
    background-color: #ECCAFF;
    align-items: center;
    flex:auto;
}
/* form {
    width: 550px;
    height: 450px;
    margin: auto;
    position: relative;
} */
#nav{
    background-color:#AFB1FF;
}

#card{
    background-color:#ECCAFF ;
}

#profileCards{
    display: flex;
    justify-content: space-evenly;
}

#loginNav{
    display: flex;
    align-items: center;
    font-size: 50px;
    justify-content: center;
}